In [1]:
import pandas as pd

In [33]:
index_data = pd.read_csv("./data/market_index_update.csv")  # read the prepared csv file
index_data['date'] = pd.to_datetime(index_data['date'])     # convert them to pandas date format
index_data.set_index('date', inplace=True)                  # make the date as index of the dataframe
index_data = index_data.drop('DSEX', axis=1)                # remove the DSEX column, as we will use normalize index value instead
agg_dict = {col: 'last' for col in index_data.columns}      # Create aggregation dictionary: sum 'Total Volume', take last for all other columns
agg_dict['Total Volume'] = 'sum'
monthly_index_data = index_data.resample('M').agg(agg_dict).dropna(subset=['Total Volume']).reset_index() # Perform monthly aggregation
monthly_index_data['date'] = monthly_index_data['date'].dt.to_period('M').astype(str) 
call_money_data = pd.read_excel("./data/MONTHLY AVERAGE CALL MONEY MARKET RATES (Weighted Average) (1).xlsx",sheet_name="Sheet1") #read the call money data
call_money_data['Month '] = pd.to_datetime(call_money_data['Month ']).dt.to_period('M').astype(str)
call_money_data = call_money_data.rename(columns={'Month ': 'date'})
data_sets = pd.merge(monthly_index_data, call_money_data, on='date', how='left') # merge both dataframe
data_sets = data_sets.dropna()  # drop all NaN values
data_sets

C:\Users\mehedi\AppData\Local\Temp\ipykernel_7036\3304196418.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_index_data = index_data.resample('M').agg(agg_dict).dropna(subset=['Total Volume']).reset_index() # Perform monthly aggregation

,date,DSE,Bank,Cement,Ceramics,Engineering,NBFI,Food,Fuel,Insurance,...,Mutual_Fund,Paper,Pharmaceuticals,Service_Real_Estate,Tannery,Textile,Travel_Leisure,Telecommunication,Total Volume,Call Money Rate ( %)
0,2009-01,1032.77,868.634,1006.070,1176.640,1046.51,974.630,1086.75,993.203,998.558,...,950.080,1000.000,1081.52,1113.60,1038.700,1050.80,1000.00,1000.00,569083533,9.82
1,2009-02,1114.10,798.453,1015.330,1205.580,1256.48,940.101,1199.77,1003.450,1074.440,...,911.059,1000.000,1041.34,1288.85,1019.400,1281.61,1000.00,1000.00,460763854,9.25
2,2009-03,1144.00,663.223,914.329,1189.350,1421.22,924.363,1206.82,1082.800,1210.860,...,822.759,1000.000,1049.62,2165.60,963.362,1262.91,1000.00,1000.00,643641302,8.31
3,2009-04,1135.64,858.422,915.121,1137.230,1283.94,880.688,1261.03,1156.710,1057.130,...,754.339,1000.000,1016.42,2425.92,940.242,1143.20,1000.00,1000.00,500314714,1.95
4,2009-05,1245.34,850.361,949.602,1221.170,1449.86,1199.750,1227.78,1244.100,1282.100,...,732.296,1000.000,1166.14,2988.07,972.393,1229.53,1000.00,1000.00,557243295,3.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,2024-10,3547.65,3360.600,2479.590,627.107,1691.71,1415.760,18560.20,1932.800,3189.340,...,540.676,135.781,4235.72,2180.96,2380.940,1605.30,1438.56,4145.42,3022667212,9.66
190,2024-11,3590.72,3277.730,2488.300,648.585,1755.26,1407.730,19047.40,2045.450,3411.950,...,524.270,139.556,4353.37,2345.16,2431.200,1673.87,1385.85,4138.47,3520135847,9.99
191,2024-12,3592.34,3245.210,2428.950,640.612,1746.52,1314.920,19504.30,2016.010,3307.670,...,518.790,139.050,4461.46,2366.01,2461.480,1699.37,1336.18,4263.56,2751191096,10.07
192,2025-01,3515.92,3213.240,2259.710,645.359,1713.72,1220.150,18753.60,1983.650,3128.310,...,484.882,165.234,4261.70,2320.98,2396.760,1740.33,1280.65,4370.12,2970669926,10.08
193,2025-02,3620.60,3310.180,2305.570,750.062,1845.04,1303.680,18750.60,2056.420,3156.400,...,507.651,201.882,4337.05,2425.46,2457.480,1858.26,1367.51,4473.94,3801682638,10.05